<launch>
    <!-- <arg name="a1"/>
	<arg name="mapping"/> -->
	
	<!-- Starte rplidar_a1.launch aus rplidar_ros -->
	<!-- <include if="$(arg a1)" file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
	<include unless="$(arg a1)" file="$(find rplidar_ros)/launch/rplidar.launch"/> -->
	<!-- <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/> -->

	<!-- Starte den rosserial_server -->
	<!-- <include file="$(find rosserial_server)/launch/serial.launch">
		<arg name="port" value="/dev/ttyACM0"/>
	</include> -->
	
	<!-- Starte iris_lama_ros oder gmapping für 2D-SLAM -->
	<!-- <group if="$(eval arg('mapping') == 'lama')">
		<node name="slam2d_node" pkg="iris_lama_ros" type="slam2d_ros" output="screen">
			<param name="scan_topic" type="string" value="scan"/>
		</node>
	</group>
	<group if="$(eval arg('mapping') == 'gmapping')">
		<node name="slam2d_node" pkg="gmapping" type="slam_gmapping" output="screen">
			<param name="scan" type="string" value="scan"/>
		</node>
	</group> -->

    <node name="slam2d_node" pkg="gmapping" type="slam_gmapping" output="screen">
        <param name="scan" type="string" value="/laser/scan"/>
    </node>

    <!-- Run move_base with the global/local planners and load all parameters from the config files -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="/clearing_rotation_allowed" value="false" /> <!-- Disable rotation of robot if stuck somewhere -->
        
        <rosparam file="$(find edu_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> <!-- Load common costmap parameters for the global costmap -->
        <rosparam file="$(find edu_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> <!-- Load common costmap parameters for the local costmap -->
        <rosparam file="$(find edu_2dnav)/config/local_costmap_params.yaml" command="load" /> <!-- Load local costmap parameters -->
        <rosparam file="$(find edu_2dnav)/config/global_costmap_params.yaml" command="load" /> <!-- Load global costmap parameters -->
        <rosparam file="$(find edu_2dnav)/config/base_local_planner_params.yaml" command="load" /> <!-- Load local planner parameters -->

        <param name="base_global_planner" value="global_planner/GlobalPlanner"/> <!-- Set the global planner node to use for global pathplanning -->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> <!-- Set the local planner to use for local pathplanning and navigation-->
        <param name="controller_frequency" value="50" /> <!-- Set frequency of the control loop (higher = better = more performance needed) -->
    </node>
    
    <!-- Explore Lite -->
    <include file="$(find explore_lite)/launch/explore.launch">
	</include>

    <!-- <node pkg="tf" type="static_transform_publisher" name="laser-frame_broadcaster" args="0 0 0 0 0 0 base_link laser-frame 100" /> -->

    <!-- Save Map --> 
    <!--    <node pkg="roslaunch" type="roslaunch" name="saver_launcher" args="$(find explore)/launch/map_saver.launch"/> -->
</launch> 
